/* Default */
html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

/* Layout */
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px 400px 60px auto 200px;
    grid-template-areas:
        ". th ."
        "h h h"
        "bh bh bh"
        ". c ."
        "f f f";
}

.top-header {
    grid-area: th;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: lightcoral;
    grid-area: h;
}

.below-header {
    background-color: aquamarine;
    grid-area: bh;
}

main {
    background-color: palegreen;
    grid-area: c;
}

footer {
    background-color: crimson;
    grid-area: f;
}

/* Styling Top Header */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 70px;
}

.logo-text {
    font-size: 3em;
    font-weight: 100;
    color: #666;
}

.shopping-cart {
    height: 80%;
    margin-right: 8px;
    cursor: pointer;
}

/* Header Layout */
header {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(./img/dev-photo.jpg) center top no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr 4fr;
    grid-template-areas:
        ". . ."
        ". t1 ."
        ". t2 ."
        ". fo ."
        ". . .";
}

.text-1 {
    grid-area: t1;
}

.text-2 {
    grid-area: t2;
}

.form {
    grid-area: fo;
}

/* Styling Header */
.search-btn {
    box-sizing: border-box;
    border: none;
    background: none;
}

.search-input {
    resize: none;
    border: none;
    font-size: 1.4em;
    padding: 0;
    margin: 0;
}

.search-btn-icon {
    height: 30px;
    width: auto;
}

.form {
    background: white;
    width: max-content;
    border-radius: 5px;
    display: flex;
}