/* Default */
html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

/* Layout */
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 
        [th-start h-start bh-start c-start f-start] 1fr [th-end h-end bh-end c-end f-end];
    grid-template-rows:
        [th-start]
            auto
        [th-end h-start]
            400px
        [h-end bh-start]
            auto
        [bh-end c-start]
            1fr
        [c-end f-start]
            200px
        [f-end];
}

.top-header {
    grid-area: th;
}

header {
    grid-area: h;
}

.below-header {
    grid-area: bh;
}

main {
    background-color: palegreen;
    grid-area: c;
}

footer {
    background-color: crimson;
    grid-area: f;
}

/* Top Header Layout */
.top-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
}

.top-header-container {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling Top Header */
.top-header-container {
    padding: 10px 0px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.shopping-cart {
    height: 50px;
    margin-right: 8px;
    cursor: pointer;
}

/* Header Layout */
header {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(./img/dev-photo.jpg) center top no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
        ". . ."
        ". t1 ."
        ". t2 ."
        ". fo ."
        ". . .";
}

.text-1 {
    grid-area: t1;
}

.text-2 {
    grid-area: t2;
}

.form-container {
    grid-area: fo;
}

/* Styling Header */
.search-btn {
    box-sizing: border-box;
    border: none;
    background: none;
}

.search-input {
    border: none;
    font-size: 1.1em;
    margin-left: 8px;
    padding: 13px 0px;
}

.search-btn-icon {
    height: 30px;
    width: auto;
}

.search-btn-icon:hover {
    cursor: pointer;
}

.form {
    background: white;
    width: max-content;
    border-radius: 5px;
    display: flex;
}

.text-1 {
    color: white;
    font-size: 3em;
    font-weight: 100;
}

.text-2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 60px;
}

/* Below Header Layout */
.below-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". bh .";
    padding: 10px 0px;
}

.box-container {
    grid-area: bh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styling Below Header */
.box-1-icon {
    height: 50px;
}

.icon {
    margin-right: 20px;
}

.box-content p {
    text-align: center;
}

/* Media queries */
@media only screen and (max-width: 1350px) {
    .top-header {
        grid-template-columns: 40px 1fr 40px !important;
    }

    header {
        grid-template-columns: 40px 1fr 40px !important;
    }

    .below-header {
        grid-template-columns: 0fr 1fr 0fr !important;
    }
}

@media only screen and (max-width: 720px) {
    .logo-img, .shopping-cart {
        height: 40px !important;
    }

    .text-1 {
        font-size: 2.5em;
        text-align: center;
    }

    .text-2 {
        text-align: center;
    }

    .form-container {
        justify-self: center;
    }

    header {
        grid-template-columns: 0fr 1fr 0fr !important;
    }
}