/* Default */
html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

/* Layout */
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 
        [th-start h-start bh-start c-start f-start] 1fr [th-end h-end bh-end c-end f-end];
    grid-template-rows:
        [th-start]
            auto
        [th-end h-start]
            400px
        [h-end bh-start]
            auto
        [bh-end c-start]
            1fr
        [c-end f-start]
            200px
        [f-end];
}

.top-header {
    grid-area: th;
}

header {
    grid-area: h;
}

.below-header {
    grid-area: bh;
}

main {
    grid-area: c;
}

footer {
    grid-area: f;
}

/* Top Header Layout */
.top-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
}

.top-header-container {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling Top Header */
.top-header-container {
    padding: 10px 0px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.shopping-cart {
    height: 50px;
    margin-right: 8px;
    cursor: pointer;
}

/* Header Layout */
header {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(./img/dev-photo.jpg) center top no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
        ". . ."
        ". t1 ."
        ". t2 ."
        ". fo ."
        ". . .";
}

.text-1 {
    grid-area: t1;
}

.text-2 {
    grid-area: t2;
}

.form-container {
    grid-area: fo;
}

/* Styling Header */
.search-btn {
    box-sizing: border-box;
    border: none;
    background: none;
}

.search-input {
    border: none;
    font-size: 1.1em;
    margin-left: 8px;
    padding: 13px 0px;
    width: 285px;
}

.search-btn-icon {
    height: 30px;
    width: auto;
}

.search-btn-icon:hover {
    cursor: pointer;
}

.form {
    background: white;
    width: max-content;
    border-radius: 5px;
    display: flex;
}

.text-1 {
    color: white;
    font-size: 3em;
    font-weight: 100;
}

.text-2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 60px;
}

/* Below Header Layout */
.below-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". bh .";
    padding: 10px 0px;
}

.box-container {
    grid-area: bh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styling Below Header */
.box-1-icon {
    height: 50px;
}

.icon {
    margin-right: 20px;
}

.box-content p {
    text-align: center;
}

/* Content Layout */
main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". c .";
}

.content-container {
    grid-area: c;
}

/* Styling Content */
h1 {
    font-weight: 100;
    font-size: 4em;
    text-align: center;
    margin: 50px 0px;
}

/* Footer Layout */
footer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". c .";
}

/* Styling Footer */
.footer-all-container {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-all-container .logo-img {
    height: 70px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.footer-link a {
    display: block;
    margin: 10px 20px;
    font-size: 1.3rem;
    color: #808080;
    transition: color 0.3s;
    white-space: nowrap;
}

.footer-link a:hover {
    color: #cccccc;
}

/* Card Container Layout */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.8fr));
    grid-auto-rows: 530px;
    grid-gap: 40px;
    margin: 30px 0px;
    justify-content: center;
}

/* Styling Card Container */
.card {
    border: 1px solid #000;
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    height: 100%;
    transform: scale(1.1);
}

.of {
    overflow: hidden;
    height: 50%;
    width: auto;
}

.card-content {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-title {
    border-top: 1px solid #000;
    background-color: #fad390;
}

.card-rating-price > span {
    font-size: 1.3em;
}

.card-rating-price > span:first-child {
    color: #d2aa0c;
    font-weight: 400;
}

.card-rating-price > span:last-child {
    color: #27ae60;
}

.card-title > span {
    font-size: 1.3em;
    text-align: center;
    color: #333;
}

.card-content > div {
    display: flex;
}

.card-content > div > span {
    margin: auto;
}

.card-btn .course-btn {
    border: none;
    background: linear-gradient(#45aaf2, #2d98da);
    height: 70%;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

/* background-color: #fad390; */

/* Media queries */
@media only screen and (max-width: 1350px) {
    .top-header, footer, header, main {
        grid-template-columns: 40px 1fr 40px !important;
    }

    .below-header {
        grid-template-columns: 0fr 1fr 0fr !important;
    }
}

@media only screen and (max-width: 720px) {
    .logo-img, .shopping-cart {
        height: 40px !important;
    }

    .text-1 {
        font-size: 2.5em;
        text-align: center;
    }

    .text-2 {
        text-align: center;
    }

    .form-container {
        justify-self: center;
    }

    header {
        grid-template-columns: 0fr 1fr 0fr !important;
    }

    h1 {
        font-size: 3em;
        margin: 20px 0px !important;
    }
}
